@import 'compass/reset';
@import 'unslider';
@import 'unslider-dots';

$medium: 962PX;

@font-face {
  font-family: 'osh';
  src: url('./fonts/opensanshebrew-regular-webfont.eot');
  src: url('./fonts/opensanshebrew-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/opensanshebrew-regular-webfont.woff2') format('woff2'),
  url('./fonts/opensanshebrew-regular-webfont.woff') format('woff'),
  url('./fonts/opensanshebrew-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;

}
@font-face {
  font-family: 'osh';
  src: url('./fonts/opensanshebrew-bold-webfont.eot');
  src: url('./fonts/opensanshebrew-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/opensanshebrew-bold-webfont.woff2') format('woff2'),
  url('./fonts/opensanshebrew-bold-webfont.woff') format('woff'),
  url('./fonts/opensanshebrew-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


html {
  font-size: 20px;
  direction: rtl;
}

body {
  font-family: osh, sans-serif;
  font-size: 100%;
  min-height: 100vh;
  direction: rtl;
  color: #fff;
  background-color: #252525;
}
.width {
  margin: auto;
  width: $medium;
  max-width: 100%;
  box-sizing: border-box;
  @media screen and (max-width: #{$medium - 1}) {
    padding: 0 1em;
  }
}

figure {
  position: relative;
  > img {
    display: none;
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: 500px) {
    > img:nth-of-type(1) { display: block; }
  }
  @media screen and (min-width: 501px) {
    > img:nth-of-type(2) { display: block; }
  }
  figcaption {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    box-sizing: border-box;
    @media screen and (min-width: $medium) {
      width: #{$medium/2 + 20};
      right: 50%;
      transform: translatex(480px);
      > a {
        margin-top: 20px;
      }
      p {
        margin-top: 1em;
      }
    }
    > a {
      display: inline-block;
      text-align: center;
      align-self: center;
    }
    @media screen and (max-width: #{$medium - 1}) {
      padding-right: 20px;
    }
    @media screen and (max-width: 440px) {
      font-size: .55em;
      height: auto;
      padding: 20px;
      padding-left: 0;
      background: rgba(0,0,0,.5);
      img {
        height: 50px;
        width: auto;
      }
      > a {
        position: absolute;
        top: 100%;
        margin-top: 20px;
        left: 50%;
        transform: translatex(-50%);
      }
    }
    @media screen and (max-width: 320px) {
      font-size: .4em;
    }
  }
  h2 {
    font-weight: 700;
    font-size: 1.9em;
    line-height: 1.3;
  }
  p {
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.1;
  }
}
.form {
  background-color: #d2d2d2;
  padding: 15px 0 30px;
  h3 {
    font-size: 1em;
    font-weight: 700;
    color: #222;
    margin-bottom: 1em;
  }
  form {
    display: flex;
    align-items: center;
    @media screen and (max-width: #{$medium - 1}) {
      flex-wrap: wrap;
    }
    select,
    input {
      box-sizing: border-box;
      margin-bottom : 10px;
      border: 2px solid #fff;
      box-shadow: 3px 5px 3px 0 rgba(0,0,0,.1) inset;
      padding: 0 10px 0 0;
      height: 30px;
      border-radius: 2px;
      background: #fff;
      color: #444;
      font-size: 16px;
      line-height: 30px;
      width: 170px;
      flex: 1 auto;
      @media screen and (min-width: $medium) {
        margin-left: 15px;
        margin-bottom: 0;
      }
    }
    input[name=fname],
    input[name=liame] {
      width: 230px;
    }
    select {
      min-width: 9em;
    }
    button {
      height: 37px;
      border: none;
      background: #fff;
      color: #ed3223;
      font-size: 22px;
      font-weight: 700;
      padding: 0 .5em;
      border-radius: 3px;
      flex: 0 auto;
      width: 4em;
      @media screen and (max-width: 440px) {
        width: auto;
        flex: 1 100%;
      }
    }
  }
  label.points {
    text-decoration: underline;
    font-weight: 700;
    font-size: .9em;
    position: relative;
    margin-top: 20px;
    display: block;
    text-align: center;
    color: #222;
    cursor: pointer;
    &:before {
      margin-top: -8px;
      content: '';
      position: absolute;
      margin-right: -30px;
      background: inline-image("button-map.png") 0 0 no-repeat;
      width: 24px;
      height: 34px;
    }
    @media screen and (max-width: 440px) {
      font-size: .8em;
      &:before {
        background-size: 15px auto;
        margin-top: -3px;
      }
    }
  }
}
::-webkit-input-placeholder {
  color: #444;
  font-size: 16px;
  line-height: 30px;
}
::-moz-placeholder {
  color: #444;
  font-size: 16px;
  line-height: 30px;
}
.main {
  border-bottom: 4px solid #fff;
  .width {
    display: flex;
    align-items: center;
    padding: 30px 0;
  }
  .text, .gallery {
    flex: 1 50%;
  }
  .text {
    padding-left: 20px;
    font-size: 1rem;
    line-height: 1.4;
    p {
      margin-bottom: 1em;
    }
  }
  .gallery {
    direction: ltr;
    position: relative;
    * {
      direction: ltr;
    }
    h3,span,sup { direction: rtl; }
    h3 {
      font-size: .9em;
      font-weight: 700;
      text-align:center;
      width: 17em;
      margin: auto;
      max-width: 100%;
      line-height: 1.5;
    }
    .unslider-arrow {
      top: 50%;
      text-indent: -1000px;
      overflow: hidden;
      width: 24px;
      height: 37px;
      overflow: hidden;
      background: inline-image("arrow-left.png") no-repeat;
      &.next {
        transform: rotate(180deg);
      }
    }

    li {
      position: relative;
      span {
        font-size: .7em;
        display: block;
        text-align: center;
      }
      sup {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translatex(-160px) translatey(-144px);
        background-color: #ff3a1e;
        font-weight: 700;
        font-size: .7em;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        padding: 0 1em;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        text-align: center;
        z-index: 10;
      }
    }
  }
  @media screen and (max-width: 440px) {
    .width {
      flex-wrap: wrap;
    }
    .text, .gallery {
      flex-basis: 80%;
      padding: 0 1em;
      box-sizing: border-box;
    }
    .gallery {
      h3 {
        width: auto;
      }
      img {
        max-width: 100%;
        height: auto;
      }
      li sup {
        transform: none;
        font-size: .5em;
        width: 50px;
        height: 50px;
        top: 0;
        left: 0;
      }
    }
  }
}
.pros {
  background: url(./points-bg.jpg) 50% 0 no-repeat;
  background-size: cover;
  padding: 3em 0;
  border-bottom: 4px solid #fff;
  h2 {
    font-weight: 700;
    font-size: 1.8em;
    max-width: 15em;
    margin: 0 auto;
    margin-bottom: 1em;
    text-align: center;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      flex: 1 20%;
      text-align: center;
      font-size: 1.2em;
      padding-top: 70px;
      background: inline-image("flame.svg") 50% 0 no-repeat;
      padding: 70px 10px 0 10px;
      box-sizing: border-box;
      line-height: 1.2;
      &:first-child { padding-right: 0; }
      &:last-child { padding-left: 0; }
      @media screen and (max-width: 440px) {
        flex-basis: 100%;
        margin-bottom: 20px;
      }
    }
  }
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    max-height: 100vh;
    background-color: rgba(0,0,0,.85);
    box-shadow: 16px 16px 16px 0 rgba(0,0,0,.5), 0 0 0 2000px rgba(0,0,0,.3);
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    transition: opacity .5s;
    padding: 0 40px 90px ;
    width: 850px;
    max-width: 100%;
    box-sizing: border-box;
    @media screen and (min-width: $medium) {
      left: 50%;
      top: 50%;
      transform: translatex(-50%) translatey(-50%);
    }
    h4 {
      font-size: 1.75em;
      font-weight: 700;
      color: #ff251e;
      margin: 1em auto 1em;
      text-align: center;
    }
    dl {
      font-size: 1.2em;
      display: flex;
      flex-wrap: wrap;
      line-height: 1;
      font-weight: 700;
    }
    dt {
      flex: 0 250px;
    }
    dd {
      flex: 0 505px;
    }
    a {
      color: #fff;
      text-decoration: none;
      padding-right: 1em;
      @media screen and (min-width: $medium) {
        position: absolute;
        left: 20px;
      }
      
    }
    dd,dt {
      margin-bottom: 1em;
    }
  }
  input[type=checkbox] { display: none; }
  input#pointspop:checked ~ .popup {
    opacity: 1;
    visibility: visible;
  }
  nav {
    margin-top: 40px;
    text-align: center;
    > .button {
      vertical-align: top;
      height: 54px;
      line-height: 54px;
      border: 3px solid #fff;
      padding: 0px 55px 0px 20px;
      cursor: pointer;
      color: #252525;
      text-decoration: none;
      font-weight: 700;
      font-size: 1em;
      white-space: nowrap;
      display: inline-block;
      text-align: right;
      vertical-align: middle;
      box-sizing: border-box;
      &.site {
        margin-right:20px;
        background: inline-image("button-globe.png")  calc(100% - 13px) 50% no-repeat #cac2bb;
        @media screen and (max-width: 440px) {
          margin: 10px 0 0 0 ;
          width: 100%;
          font-size: 1.0em;
        }
      }
    }
  }
  @media screen and (max-width: 440px) {
    .popup {
      dl {
        font-size: 1em;
        line-height: 1;
      }
      dt,dt {
        flex: 1 100%;
        margin-bottom: 0;
      }
      a {
        display: block;
        padding-right: 0;
      }
      dd {
        margin-bottom: 1em;
      }
    }
  }
}
label.close {
  position: absolute;
  left: 10px;
  top: 10px;
  background: inline-image("close.png");
  width: 35px;
  height: 35px;
  cursor: pointer;
}
footer {
  padding: 1.5em 0;
  position: relative;
  .width {
  }
  .nine {
  }
  .copy {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: .9em;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  @media screen and (max-width: 440px) {
    padding: 30px 1em;
    text-align: center;
    .copy {
      margin-top: 1em;
      position: static;
      max-width: 100%;
    }
  }
}
.thankyou {
  padding: 2em;
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: rgba(0,0,0,.85);
  transform: translatex(-50%) translatey(-50%);
  box-shadow: 16px 16px 16px 0 rgba(0,0,0,.5);
  h3 {
    font-size: 1.75em;
    font-weight: 700;
    color: #ff251e;
    margin: 1em auto 1em;
    text-align: center;
  }
}
.unslider {
  overflow: hidden;
}
